<script>
    import Minefield from './Minefield.svelte'
</script>

<main>
    <Minefield rows={15} cols={15} bombs={50}/>
</main>

<footer>
    Fork me on <a href="https://gitlab.com/ShahinSorkh/minesweeper">gitlab</a>
</footer>

<style>
 footer {
     text-align: center;
     margin: 16px;
     font-size: 18pt;
 }
</style>
