<script>
import { createEventDispatcher } from 'svelte'

export let cell
export let gameState

const dispatch = createEventDispatcher()
const onMouseDown = e => {
  if (e.which === 1) {
    return propagateLeftClick()
  }
  if (e.which === 3) {
    return propagateRightClick()
  }
  if (e.which === 2) {
    return propagateMiddleClick()
  }
}

const propagateLeftClick = () => {
  if (cell.isCovered) {
    dispatch('leftclick', { cell })
  }
  return false
}
const propagateRightClick = () => {
  if (cell.isCovered) {
    dispatch('rightclick', { cell })
  }
  return false
}
const propagateMiddleClick = () => {
  if (!cell.isFlagged) { dispatch('middleclick', { cell }) }
  return false
}
</script>

<button
     on:mouseup|preventDefault={onMouseDown}
     on:mousedown|preventDefault={() => false}
     on:click|preventDefault={() => false}
     on:auxclick|preventDefault={() => false}
     on:contextmenu|preventDefault={() => false}
     disabled={gameState.done}
     class="mine-field__cell"
     class:game-over={gameState.done}
     class:win={gameState.win}
     class:bombed={(cell.isFlagged || !cell.isCovered) && cell.isBomb}
     class:flagged={cell.isFlagged}
     class:uncovered={!cell.isCovered}>
    {#if cell.isFlagged}
        <img alt="flag" src="/assets/flag.svg"/>
    {:else if !cell.isCovered}
        {#if cell.isBomb}
            <img alt="bomb" src="/assets/bomb.svg"/>
        {:else if cell.bombNeighbors > 0}
            {cell.bombNeighbors}
        {/if}
    {/if}
</button>

<style>
 img {
     width: 100%;
     height: 100%;
 }

 .mine-field__cell {
     padding: 5px;
     margin: 0;
     border-radius: 3px;
     border: 1px solid black;
     box-sizing: border-box;
     text-align: center;
     background-color: #dfdfdf;
     width: 64px;
     height: 64px;
     font-size: 28px;
 }

 .uncovered {
     background-color: #cccccc;
 }

 .uncovered.bombed {
     background-color: #f55;
 }

 .flagged {
     background-color: #5f5;
 }

 .game-over.bombed {
     background-color: #f55;
 }

 .game-over.bombed.win {
     background-color: #5f5;
 }

 .game-over.flagged {
     background-color: #fdd;
 }

 .game-over.flagged.bombed {
     background-color: #5f5;
 }
</style>
