<script>
import { beforeUpdate, tick } from 'svelte'

import { createMinefield } from './minefield.js'
import Cell from './Cell.svelte'

export let rows
export let cols
export let bombs

let minefield = createMinefield(rows, cols, bombs)

const onCellLeftClick = async e => {
  await minefield.uncoverCell(e.detail.cell)
  await tick()
  minefield = minefield
}

const onCellRightClick = async e => {
  await minefield.toggleFlag(e.detail.cell)
  await tick()
  minefield = minefield
}

const onCellMiddleClick = async e => {
  await minefield.uncoverNeighbors(e.detail.cell)
  await tick()
  minefield = minefield
}

beforeUpdate(async () => {
  if (!minefield.gameOver && minefield.state.done) {
    await minefield.uncoverEverything()
    minefield = minefield
  }
})
</script>

<h1>
    State:
    {#if minefield.state.done}
        Done {minefield.state.win ? 'win' : 'failed'}
    {/if}
</h1>

<div class="mine-field__container">
    {#each minefield.field as row}
        <div class="mine-field__row">
            {#each row as cell}
                <Cell cell={cell}
                      gameState={minefield.state}
                      on:leftclick={onCellLeftClick}
                      on:rightclick={onCellRightClick}
                      on:middleclick={onCellMiddleClick}
                />
            {/each}
        </div>
    {/each}
</div>

<style>
 .mine-field__container {
     padding: 2em;
     background-color: #eee;
 }

 .mine-field__row {
     display: flex;
     flex-direction: row;
     justify-content: center;
     box-sizing: border-box;
 }
</style>
